.remainHeight {
    height: 100%;
}

.callToActionBtn {
    font-size: 1.5rem;
    color: #951B81;
    border-width: 2px;
    border-style: solid;
    border-color: #951B81;
    min-width: 300px;
    min-height: 70px;
    border-radius: 50px;
    background-color: rgba(255,255,255,0.7);
}

.callToActionBtn span {
    transition: 0.5s;
    font-size: 2rem;
}

.callToActionBtn:hover {
    cursor: pointer;
}

.callToActionBtn:hover > span {
    transition: 0.5s;
    margin-left: 10px;
}

.goDownBtn {
    font-size: 2rem;
    color: #951B81;
    border: none;
    margin-top: 3rem;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.7);
}

.goDownBtn:hover {
    cursor: pointer;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    width: 100%;
    position: relative;
    padding: 1.5rem 0;
    display: flex;
}

.searchTerm {
    width: 500px;
    border: none;
    padding: 5px;
    height: 30px;
    border-radius: 50px 0 0 50px;
    outline: none;
    background: white;
}

.searchTermTextField{
    width:400px;
}

.searchButton {
    width: 60px;
    height: 40px;
    border: none;
    background: #312783;
    text-align: center;
    color: #fff;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    font-size: 20px;
}
