.RegisterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.backHome {
    display: block;
    position: relative;
    top: 0;
    left: 0;
}

.userLogo {
    border: 5px solid #312783;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position: relative;
    background-color: #fff;
    background-image: url('user.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

.userLogo::after {
    content: '';
    display: block;
    position: absolute;
    height: 5px;
    background: #312783;
    width: 50vw;
    left: 50%;
    top: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}
